{% extends 'base.html.twig' %}

{% block importmap %}
{{ importmap(['app', 'image-modal', 'drag-scroll', 'admin-profile-actions']) }}
{% endblock %}

{% block title %}{{ profile.displayName }} — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile">
        <div class="container">

            {% include "profile/_components/profile-header.html.twig" %}

            {% include "profile/_components/resume-section.html.twig" %}

        </div>
    </section>
</div>

{% endblock %}