{% extends 'base.html.twig' %}

{% block title %}Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content ">
    {% include "_components/header-explore.html.twig" %}

    <section>
        <h1>Profile page</h1>
    </section>
</div>

{% endblock %}