{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/drag-scroll.js') }}"></script>
<script src="{{ asset('js/image-modal.js') }}"></script>
{% endblock %}

{% block title %}Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile">
        <div class="container">

            <h1>Edit Profile</h1>

        </div>
    </section>
</div>

{% endblock %}