{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/image-modal.js') }}"></script>
<script src="{{ asset('js/admin-profile-actions.js') }}"></script>
{% endblock %}

{% block title %}{{ profile.displayName }} — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile">
        <div class="container posts">

            {% include "/profile/_components/profile-header.html.twig" %}

            <div class="posts-grid">

                {% if posts is empty %}
                {# <div class="no-posts">
                    <p class="text-body-16 text-color-secondary">Aucun post publié pour le moment.</p>
                </div> #}
                {% else %}
                {% for post in posts %}
                {% include "/profile/_components/profile-post-card.html.twig" with {'post': post} %}
                {% endfor %}
                {% endif %}

            </div>

        </div>
    </section>
</div>

{% endblock %}