{% extends 'base.html.twig' %}

{% block title %}Resume.cv{% endblock %}

{% block main %}
{% include "_components/sidebar.html.twig" %}
<div class="main-content ">
  <section class="section">
    <h1>Home</h1>
  </section>
</div>
{% endblock %}