{% extends 'base.html.twig' %}

{% block title %}Resume.cv{% endblock %}

{% block main %}
{% include "_components/sidebar.html.twig" %}
<div class="main-content ">
  <section class="section">
    <h1>Home</h1>

    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('info') %}
    <div class="alert alert-info" role="alert">{{ flash_info }}</div>
    {% endfor %}
  </section>
</div>
{% endblock %}