<div style="
width: 100%; 
max-width: 600px;
gap: 16px;">

  <div style="
    padding: 16px 24px;">
    <h1 style="
            font-family: 'Arial', sans-serif;
            font-size: 1.25rem;
            margin: 0;
            color: #222222;">
      <bold>Resume.cv</bold>
    </h1>
  </div>

  <div style="
        padding: 16px 24px;">
    <h2 style="
            font-family: 'Arial', sans-serif;
            font-size: 1.25rem;
            margin: 0;
            color: #222222;">
      <bold>Reset your password</bold>
    </h2>
    <p style="
            font-family: 'Arial', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: #898989;">
      Don't worry, it happens to the best of us.
    </p>
  </div>

  <div style="
        padding: 16px 24px;">
    <img src="{{ image_base64('images/img-hannah-lee.png') }}" alt="Reset your password"
      style="max-width: 100%; height: auto;">
  </div>

  <div style="
        padding: 16px 24px;">
    <p style="
            font-family: 'Arial', sans-serif;
            font-size: 1rem;
            margin: 0;
            color: #222222;">
      To reset your password, please click the following link:
      <br><br>
      <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        <bold>Reset my Password</bold>
      </a>
      <br><br>
      This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
      'ResetPasswordBundle') }}.
    </p>
  </div>

</div>