<div class="job-grid card">
  <div class="team">
    <a href="" class="company-profile-img">
      <img src="{{ asset('images/img_default_company.webp') }}" alt="Company Profile Image">
    </a>
    <a href="" class="text-link text-14 text-color-primary">Company Name</a>
  </div>

  <div class="position">
    <a href="" class="text-link text-14 text-color-primary">Software Engineer</a>
    <a href="" class="text-link text-14 text-color-secondary">New York City</a>
  </div>

  <div class="manager">
    <a href="" class="manager-profile">
      <img src="{{ asset('images/img_default_user.webp') }}" alt="Profile Image" class="profile-img">
      <span class="manager-tooltip text-12">Anonymous</span>
    </a>
  </div>

  <p class="text-14 text-color-secondary text-center">a day ago</p>
</div>