<div class="post-card news">
  <img src="{{ asset('images/img-hannah-lee.webp') }}" alt="Creative Illustration">
  <div class="group-container">
    <h2 class="text-16">Welcome to Resume.cv</h2>
    <p class="text-body-14 text-color-secondary">
      Create your online resume, share your background, and showcase your projects. Inspire recruiters and
      colleagues. This is version 1 of Resume.cv
    </p>
  </div>
  <div class="group-container">
    <a href="{{ path('app_register') }}" class="btn btn-secondary-xxs">Start Now</a>
    <a href="https://github.com/HeyAnto/resume-cv" target="_blank" class="link">Source Code</a>
  </div>
</div>