.job-edit-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    border: solid 1px var(--color-muted);
    border-radius: var(--radius-sm);
    background-color: var(--color-bg-secondary);
    word-break: break-all;
    text-decoration: none;
    overflow: hidden;
}
