<a href="{{ path('app_post_edit', {'username': username, 'id': post.id}) }}" class="post-edit-card">
  <p class="text-16 text-color-secondary">
    {{ post.description }}
  </p>
  {% if post.imagePath %}
  <img class="img-post-edit" src="{{ asset('uploads/posts/' ~ post.imagePath) }}"
    alt="Post image by {{ post.user.profile.displayName }}">
  {% endif %}
</a>