<a href="" class="resume-edit-card">
  <p class="text-16 text-color-secondary">2021 — 2022</p>
  <p class="text-16 text-color-primary">Senior UI/UX Designer at TechCorp</p>
  <p class="text-16 text-color-secondary">Brooklyn, NY</p>
</a>