.btn-reset {
    font-family: var(--font-primary);
    font-size: 0.875rem; // 14px
    font-weight: 500;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-lg);
    font-family: var(--font-primary);
    font-size: 1rem; // 16px
    font-weight: 550;
    text-decoration: none;
    text-align: center;
    border-radius: none;
    border: none;
    cursor: pointer;

    &.full {
        width: 100%;
        height: 100%;
    }

    &.hide {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.btn-primary-xs {
        color: var(--color-bg-primary);
        background-color: var(--color-text-primary);
        border-radius: var(--radius-xs);
        transition: opacity 0.2s ease;

        &.danger {
            background-color: var(--color-red-2);
            color: #f4f4f4;
        }

        &.blue {
            background-color: var(--color-blue);
            color: #f4f4f4;
        }

        &:hover {
            opacity: 0.94;
        }
    }

    &.btn-secondary-xs {
        color: var(--color-text-primary);
        background-color: var(--color-muted-2);
        border-radius: var(--radius-xs);
        transition: opacity 0.2s ease;

        &.danger {
            background-color: var(--color-red-2);
            color: #f4f4f4;
        }

        &.blue {
            background-color: var(--color-blue);
            color: #f4f4f4;
        }

        &:hover {
            opacity: 0.94;
        }
    }

    &.btn-secondary-xxs {
        font-size: 0.875rem; // 14px
        color: var(--color-text-primary);
        background-color: var(--color-muted);
        border-radius: var(--radius-xs);
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.94;
        }
    }

    &.btn-warning-xs {
        color: #f4f4f4;
        background-color: var(--color-yellow);
        border-radius: var(--radius-xs);
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.94;
        }
    }

    &.btn-danger-xs {
        color: #f4f4f4;
        background-color: var(--color-red-2);
        border-radius: var(--radius-xs);
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.94;
        }
    }
}
