form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    .illustration {
        display: flex;
        flex-direction: column;
        align-items: end;

        .register-0 {
            filter: saturate(0);
        }

        .register-50 {
            filter: saturate(0.5);
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        &.full-width {
            width: 100%;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }

        input {
            width: 100%;
            padding: var(--spacing-sm) var(--spacing-lg);
            border-radius: var(--radius-xs);
            border: solid 1px var(--color-muted);
            font-family: var(--font-primary);
            font-size: 1rem; // 16px
            font-weight: 400;
            color: var(--color-text-primary);
            background-color: var(--color-bg-secondary);
            transition: all 0.2s;

            &:focus,
            &:focus-visible {
                outline: solid 1px var(--color-border);
                transition: all 0.2s;
            }

            &:autofill {
                box-shadow: 0 0 0px 1000px var(--color-bg-secondary) inset;
                -webkit-text-fill-color: var(--color-text-primary);
                transition: all 5000s ease-in-out 0s;
            }
        }

        textarea {
            padding: var(--spacing-sm) var(--spacing-lg);
            border-radius: var(--radius-xs);
            border: solid 1px var(--color-muted);
            font-family: var(--font-primary);
            font-size: 1rem; // 16px
            font-weight: 400;
            color: var(--color-text-primary);
            background-color: var(--color-bg-secondary);
            transition: all 0.2s;

            &:focus,
            &:focus-visible {
                outline: solid 1px var(--color-border);
                transition: all 0.2s;
            }

            &:autofill {
                box-shadow: 0 0 0px 1000px var(--color-bg-secondary) inset;
                -webkit-text-fill-color: var(--color-text-primary);
                transition: all 5000s ease-in-out 0s;
            }
        }

        select {
            padding: var(--spacing-sm) var(--spacing-lg);
            border-radius: var(--radius-xs);
            border: solid 1px var(--color-muted);
            font-family: var(--font-primary);
            font-size: 0.875rem; // 14px
            font-weight: 400;
            color: var(--color-text-primary);
            background-color: var(--color-bg-secondary);
            transition: all 0.2s;
        }

        &.check {
            flex-direction: row;
            gap: var(--spacing-xs);
            align-items: center;

            input[type="checkbox"] {
                width: 18px;
                height: 18px;
                accent-color: var(--color-text-primary);
                cursor: pointer;
            }

            label {
                cursor: pointer;
            }
        }
    }
}
