.header-navigation {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-xl);
    gap: var(--spacing-xl);

    ul {
        width: 100%;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: var(--spacing-xl);
    }

    a {
        color: var(--color-text-tertiary);
        text-decoration: none;

        &.active {
            color: var(--color-text-primary);
            pointer-events: none;
        }
    }
}
