.profile-edit-sidebar {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid var(--color-border);

    .btn-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-md) var(--spacing-lg);
        text-decoration: none;
        color: var(--color-text-tertiary);

        .menu-icon {
            width: 1.25rem; // 20px
            height: 1.25rem; // 20px
        }

        &:hover {
            background-color: var(--color-bg-secondary);
        }

        &.active {
            background-color: var(--color-bg-secondary);
            color: var(--color-text-primary);
            pointer-events: none;
        }
    }
}
