<div class="profile-edit-sidebar">

  <div class="header">
    <a href="" class="nav-link active text-16">Profile</a>
    <a href="" class="nav-link text-16">Account</a>
  </div>

  <div class="flex flex-column">
    <a href="" class="btn-menu active">General</a>

    <div class="order-menu">

      <a href="" class="btn-menu">
        Work Experience
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Projects
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Education
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Certifications
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Volunteering
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

    </div>

  </div>

</div>