<div class="resume-section">
  <h2 class="text-16">
    Section Title
  </h2>
  <div class="section-list">

    {% include "_components/profiles/resume-card.html.twig" %}

  </div>
</div>

<div class="resume-section">
  <h2 class="text-16">
    Section Title
  </h2>
  <div class="section-list">

    {% include "_components/profiles/resume-card-project.html.twig" %}

  </div>
</div>