<div class="resume-card project">
  <div>
    <p class="text-16 text-color-tertiary">
      2023 — Now
    </p>
  </div>
  <div class="info">
    <a class="title text-color-primary" href="" target="_blank">
      <h3 class="text-16">
        Project 404 - Portfolio Website
      </h3>
      {% include "_icons/link.html.twig" with {
      'class': 'icon-link'
      } %}
    </a>

    <p class="text-body-16 text-color-tertiary">
      A personal portfolio website showcasing my design projects and case studies, built with a focus on
      responsive design and user experience.
    </p>

    <div class="project-img">
      <img src="{{ asset('images/img-project-exemple.webp') }}" alt="Project Image">
      <img src="{{ asset('images/img-project-exemple.webp') }}" alt="Project Image">
      <img src="{{ asset('images/img-project-exemple.webp') }}" alt="Project Image">
    </div>
  </div>
</div>