.section-404 {
    min-height: 82vh;
    height: 85vh;
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-huge);

    .container {
        width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-xl);

        .img-404 {
            width: 100%;
            height: auto;
        }
    }
}
