.section-profile {
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-huge);

    .container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxl);

        &.posts {
            max-width: 100%;
            align-items: center;

            .posts-grid {
                width: 100%;
                --max-columns: 5;
                --grid-gap: var(--spacing-xl);
                columns: var(--max-columns);
                column-gap: var(--grid-gap);

                @media (max-width: 1700px) {
                    --max-columns: 4;
                }

                @media (max-width: 1400px) {
                    --max-columns: 3;
                }

                @media (max-width: 1040px) {
                    --max-columns: 2;
                }

                @media (max-width: 700px) {
                    --max-columns: 1;
                }
            }
        }

        .profile-header {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xxl);

            .profile-info {
                display: flex;
                align-items: center;
                gap: var(--spacing-xl);

                .tag-list {
                    flex-wrap: wrap;
                }

                @media (max-width: 768px) {
                    width: 100%;
                    flex-direction: column;
                    align-items: start;
                }

                .profile-img {
                    width: 100%;
                    max-width: 6.875rem; // 110px
                    height: 100%;
                    max-height: 6.875rem; // 110px
                    border-radius: var(--radius-full);
                    border: solid 1px var(--color-muted);
                    overflow: hidden;
                    object-fit: cover;
                }

                .company-max-profile-img {
                    width: 100%;
                    max-width: 6.875rem; // 110px
                    height: 100%;
                    max-height: 6.875rem; // 110px
                    border-radius: var(--radius-xs);
                    border: solid 1px var(--color-muted);
                    object-fit: cover;
                    overflow: hidden;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-sm);

                    .title {
                        display: flex;
                        gap: var(--spacing-xxs);
                    }

                    .badge-container {
                        position: relative;
                        display: flex;

                        .badge-icon {
                            width: 1.5rem; // 24px
                            height: 1.5rem; // 24px

                            &.admin {
                                color: var(--color-blue);
                            }
                        }

                        .badge-tooltip {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            left: calc(100% + var(--spacing-xs));
                            top: 50%;
                            transform: translateY(-50%) translateX(-4px);
                            height: fit-content;
                            padding: var(--spacing-xxs) var(--spacing-sm);
                            color: #f4f4f4;
                            background-color: var(--color-overlay);
                            border-radius: var(--radius-xs);
                            white-space: nowrap;
                            pointer-events: none;
                            transition: all 0.3s ease;
                            z-index: 1000;
                        }

                        &:hover {
                            .badge-tooltip {
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(-50%) translateX(0);
                            }
                        }
                    }
                }

                .tag-follow {
                    width: fit-content;
                    padding: var(--spacing-xxs) var(--spacing-md);
                    color: var(--color-bg-primary);
                    background-color: var(--color-text-primary);
                    border-radius: var(--radius-full);
                    text-decoration: none;
                    position: relative;

                    &:hover {
                        opacity: 0.94;
                    }

                    &.unfollow {
                        .follow-text-default {
                            display: inline;
                        }
                        .follow-text-hover {
                            display: none;
                        }

                        &:hover {
                            color: var(--color-text-primary);
                            background-color: var(--color-red-2);

                            .follow-text-default {
                                display: none;
                            }
                            .follow-text-hover {
                                display: inline;
                            }
                        }
                    }
                }
            }

            .resume-actions {
                width: 100%;
                display: flex;

                .btn-action {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: var(--spacing-sm) var(--spacing-lg);
                    color: var(--color-text-tertiary);
                    border-bottom: solid 1px var(--color-text-tertiary);
                    text-decoration: none;

                    &.active {
                        color: var(--color-text-primary);
                        border-bottom: solid 2px var(--color-text-primary);
                    }
                }
            }
        }
    }

    .resume-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxl);

        .section-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xxl);
        }
    }
}

.tag-website {
    width: fit-content;
    display: flex;
    gap: var(--spacing-xs);
    padding: var(--spacing-xxs) var(--spacing-md);
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-full);
    text-decoration: none;

    &.light {
        color: var(--color-bg-secondary);
        background-color: var(--color-text-primary);
    }

    &.company {
        color: var(--color-text-primary);
        background-color: var(--color-bg-secondary);
        border: 1px solid var(--color-muted);
    }

    &.default {
        color: #f4f4f4;
        background-color: var(--color-overlay);
    }

    &:hover {
        opacity: 0.94;
    }
}

.profile-edit-btn {
    position: absolute;
    display: flex;
    gap: var(--spacing-md);
    right: var(--spacing-xl);
    bottom: var(--spacing-xl);
}
