.section-profile {
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing-xl);
    padding-bottom: var(--spacing-huge);

    .container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxl);

        &.posts {
            max-width: 100%;
            align-items: center;

            .posts-grid {
                width: 100%;
                --max-columns: 5;
                --grid-gap: var(--spacing-xl);
                columns: var(--max-columns);
                column-gap: var(--grid-gap);

                @media (max-width: 1700px) {
                    --max-columns: 4;
                }

                @media (max-width: 1400px) {
                    --max-columns: 3;
                }

                @media (max-width: 1040px) {
                    --max-columns: 2;
                }

                @media (max-width: 700px) {
                    --max-columns: 1;
                }
            }
        }

        .profile-header {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xxl);

            .profile-info {
                display: flex;
                align-items: center;
                gap: var(--spacing-xl);

                .profile-img {
                    width: 100%;
                    max-width: 6.875rem; // 110px
                    height: 100%;
                    max-height: 6.875rem; // 110px
                    border-radius: var(--radius-full);
                    border: solid 1px var(--color-muted);
                    overflow: hidden;
                    object-fit: cover;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-sm);

                    .title {
                        display: flex;
                        gap: var(--spacing-xxs);
                    }
                }

                .tag-follow {
                    width: fit-content;
                    padding: var(--spacing-xxs) var(--spacing-md);
                    color: var(--color-bg-primary);
                    background-color: var(--color-text-primary);
                    border-radius: var(--radius-full);
                    text-decoration: none;

                    &:hover {
                        opacity: 0.94;
                    }

                    &.unfollow:hover {
                        color: var(--color-text-primary);
                        background-color: var(--color-red-2);
                    }
                }

                .tag-website {
                    width: fit-content;
                    padding: var(--spacing-xxs) var(--spacing-md);
                    background-color: var(--color-bg-secondary);
                    border-radius: var(--radius-full);
                    text-decoration: none;

                    &:hover {
                        opacity: 0.94;
                    }
                }
            }

            .resume-actions {
                width: 100%;
                display: flex;

                .btn-action {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: var(--spacing-sm) var(--spacing-lg);
                    color: var(--color-text-tertiary);
                    border-bottom: solid 1px var(--color-text-tertiary);
                    text-decoration: none;

                    &.active {
                        color: var(--color-text-primary);
                        border-bottom: solid 2px var(--color-text-primary);
                    }
                }
            }
        }
    }

    .resume-section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        .section-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xxl);
        }
    }
}

.profile-edit-btn {
    position: absolute;
    right: var(--spacing-xl);
    bottom: var(--spacing-xl);
}
