<div class="header-navigation">
  <ul>
    <li>
      <a class="{{ app.request.pathinfo == '/connection/login' ? 'active' : '' }}"
        href="{{ path('app_login') }}">Login</a>
    </li>
    <li>
      <a class="{{ app.request.pathinfo == '/connection/register' ? 'active' : '' }}"
        href="{{ path('app_register') }}">Register</a>
    </li>
  </ul>
</div>