{% extends 'base.html.twig' %}

{% block title %}Profile Cooking — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

{% include "/profile-edit/_components/edit-sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile-edit">
        <div class="container">

            <div>
                <h1 class="text-h1">Post</h1>
                <p class="text-16 text-color-tertiary">Create, edit, and manage your posts</p>
            </div>

            <div class="flex flex-column gap-sm">
                <a href="{{ path('app_post_new', {'username': username}) }}" class="btn btn-primary-xs full">
                    Add Post
                </a>
            </div>

            {% if posts is not empty %}
            <div class="flex flex-column gap-sm">
                <p class="text-16 text-color-tertiary">Click to edit or remove a post</p>

                {% for post in posts %}
                {% include "/profile-edit/_components/post-edit-card.html.twig" with {'post': post, 'username':
                username} %}
                {% endfor %}
            </div>
            {% endif %}

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}

        </div>
    </section>
</div>

{% endblock %}