<div class="resume-card">
  <div>
    <p class="text-16 text-color-tertiary">
      2023 — Now
    </p>
  </div>
  <div class="info">
    <div class="flex flex-column">
      <a class="title text-color-primary" href="" target="_blank">
        <h3 class="text-16">
          Senior UI/UX Designer at TechCorp
        </h3>
        {% include "_icons/link.html.twig" with {
        'class': 'icon-link'
        } %}
      </a>
      <p class="text-16 text-color-tertiary">
        Brooklyn, NY
      </p>
    </div>

    <p class="text-body-16 text-color-tertiary">
      Leading a team of designers to create user-centric designs for web and mobile
      applications.
      Collaborating with cross-functional teams to enhance user experience.
    </p>
  </div>
</div>