<div class="post-card">
  <p class="text-body-14 text-color-secondary">
    {{ post.description }}
  </p>
  {% if post.imagePath %}
  <img class="post-img" src="{{ asset('uploads/posts/' ~ post.imagePath) }}"
    alt="Post image by {{ post.user.profile.displayName }}">
  {% endif %}
  {# <div class="post-interactions">
    <a href="" class="post-interactions">
      <p class="like-text text-14">{{ post.likedBy|length }}</p>
      {% include "_icons/heart.html.twig" with {
      'class': 'like-icon'
      } %}
    </a>
  </div> #}
</div>