{% for section in resumeSections %}
{% if section.isVisible %}
<div class="resume-section">
  <h2 class="text-16">
    {{ section.label }}
  </h2>
  <div class="section-list">
    {% for experience in section.experiences %}
    {% include "/profile/_components/resume-card.html.twig" with {'experience': experience} %}
    {% endfor %}
    {% for education in section.educations %}
    {% include "/profile/_components/resume-card.html.twig" with {'education': education} %}
    {% endfor %}
    {% for certification in section.certifications %}
    {% include "/profile/_components/certification-card.html.twig" with {
      'title': certification.title,
      'authority': certification.authority,
      'authorityLink': certification.authorityLink,
      'issuedDate': certification.issuedDate,
      'expirationDate': certification.expirationDate,
      'credentialId': certification.credentialId,
      'credentialUrl': certification.credentialUrl
    } %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}