<div class="resume-section">
  <h2 class="text-16">
    Section Title
  </h2>
  <div class="section-list">

    {% include "/profile/_components/experience-card.html.twig" %}

  </div>
</div>

<div class="resume-section">
  <h2 class="text-16">
    Section Title
  </h2>
  <div class="section-list">

    {% include "/profile/_components/project-card.html.twig" %}

  </div>
</div>