{% for section in resumeSections %}
{% if section.isVisible %}
<div class="resume-section">
  <h2 class="text-h2">
    {{ section.label }}
  </h2>
  <div class="section-list">
    {% for experience in section.experiences %}
    {% include "/profile/_components/resume-card.html.twig" with {'experience': experience} %}
    {% endfor %}
    {% for education in section.educations %}
    {% include "/profile/_components/resume-card.html.twig" with {'education': education} %}
    {% endfor %}
    {% for certification in section.certifications %}
    {% include "/profile/_components/certification-card.html.twig" with {
    'title': certification.title,
    'authority': certification.authority,
    'authorityLink': certification.authorityLink,
    'issuedDate': certification.issuedDate,
    'expirationDate': certification.expirationDate,
    'credentialId': certification.credentialId,
    'credentialUrl': certification.credentialUrl
    } %}
    {% endfor %}
    {% for volunteering in section.volunteerings %}
    {% include "/profile/_components/resume-card.html.twig" with {'volunteering': volunteering} %}
    {% endfor %}
    {% for project in section.projects %}
    {% include "/profile/_components/project-card.html.twig" with {
    'title': project.projectName,
    'description': project.description,
    'date': project.date,
    'link': project.projectLink,
    'image1': project.imagePath,
    'image2': project.imagePath2,
    'image3': project.imagePath3
    } %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}