<div class="edit-sidebar" id="edit-sidebar">

  <div class="flex flex-column">
    <a href="{{ path('app_company_profile', {'id': company.id, 'companyName': company.slug}) }}" class="btn-menu">
      Company Profile
    </a>

    <a href="{{ path('app_company_edit', {'id': company.id, 'companyName': company.slug}) }}"
      class="btn-menu {{ app.request.get('_route') == 'app_company_edit' ? 'active' : '' }}">
      General
    </a>

    <a href="" class="btn-menu {{ app.request.get('_route') == '#' ? 'active' : '' }}">
      Job Offers
    </a>
  </div>

</div>