<div class="edit-sidebar" id="edit-sidebar">

  <div class="flex flex-column">

    <a href="" class="btn-menu {{ app.request.get('_route') == '#' ? 'active' : '' }}">
      Company Profile
    </a>

    <a href="" class="btn-menu {{ app.request.get('_route') == '#' ? 'active' : '' }}">
      Job Offers
    </a>

  </div>

</div>