<a class="company-card" href="">

  <div class="flex items-center">

    <img class="company-profile-img" src="{{ asset('images/img_default_company.webp') }}"
      alt="Companyname Profile Image">

    <div class="flex flex-column">

      <p class="text-16 text-color-primary">
        Company Name
      </p>

      <p class="text-16 text-color-secondary">
        Location
      </p>

    </div>

  </div>

  <p class="text-body-16 text-color-secondary">
    Description
  </p>

</a>