{% extends 'base.html.twig' %}

{% block title %}Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content ">
  {% include "_components/header-explore.html.twig" %}

  <section class="section-explore">
    <div class="front-grid">

      {% include "_components/cards/post-card-news.html.twig" %}

      {% include "_components/cards/post-card.html.twig" %}

    </div>
  </section>
</div>

{% endblock %}