{% extends 'base.html.twig' %}

{% block title %}Front — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
  {% include "_components/headers/header-explore.html.twig" %}

  <section class="section-explore">
    <div class="front-grid">

      {% include "_components/cards/post-card-news.html.twig" %}

      {% for post in posts %}
      {% include "_components/cards/post-card.html.twig" with {'post': post} %}
      {% endfor %}

    </div>
  </section>
</div>

{% endblock %}