{% extends 'base.html.twig' %}

{% block title %}Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content ">
  {% include "_components/header-explore.html.twig" %}

  <section>
    <div class="container">
      <h1>Explore / Front</h1>
    </div>
  </section>
</div>

{% endblock %}