{% extends 'base.html.twig' %}

{% block title %}Job Board — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
  {% include "_components/headers/header-explore.html.twig" %}

  <section class="section-explore">
    <div class="job-grid">
      <div class="team">
        <h3 class="text-14 text-color-secondary">Team</h3>
      </div>

      <div class="position">
        <h3 class="text-14 text-color-secondary">Position</h3>
      </div>

      <div class="manager">
        <h3 class="text-14 text-color-secondary text-center">Manager</h3>
      </div>

      <div class="posted">
        <h3 class="text-14 text-color-secondary text-center">Posted</h3>
      </div>
    </div>

    {% if jobOffers is not empty %}
    {% for jobOffer in jobOffers %}
    {% include "/explore/_components/job-card.html.twig" with {'jobOffer': jobOffer} %}
    {% endfor %}
    {% else %}
    <div class="flex flex-column items-center gap-sm">
      <p class="text-16 text-color-tertiary">No job offers available at the moment.</p>
    </div>
    {% endif %}

  </section>
</div>

{% endblock %}